<!doctype html>
<html>

<link rel="stylesheet" href="{{ url_for('static', filename='stylesheet.css') }}">
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="{{url_for('static', filename='scripts/game.js')}}"></script>

<body>
    <table>
    {% for row in board.tiles %}
        <tr>
        {% for col in row %}
                <td>
                    <button type="button" name='{{col.row}},{{col.col}}', onclick=onTileClick()>{{col.__str__()}}</button>
                </td>
        {% endfor %}
        </tr>
    {% endfor %}
    </table>
</body>
</html>